---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" data-theme="nord-dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-base-100 text-base-content">
		<Header />
		<main class="container mx-auto max-w-3xl px-4 py-10">
			<div class="card bg-base-100 shadow-lg w-full">
				<div class="card-body p-4 sm:p-6">
					<h1
						class="text-4xl md:text-5xl font-bold text-primary mb-8"
					>
						Hello!
					</h1>

					<div class="prose prose-lg mx-auto">
						<!-- <p>
							Welcome to the official <a
								href="https://astro.build/"
								class="link link-primary">Astro</a
							> blog starter template. This template serves as a lightweight,
							minimally-styled starting point for anyone looking to
							build a personal website, blog, or portfolio with Astro.
						</p> -->
					</div>
					<a
						href="/icecube"
						class="link link-primary block text-center mb-4"
						style="font-size: 4rem;"
					>
						🧊</a
					>
				</div>
			</div>
		</main>

		<Footer />
	</body>
</html>
